.equipes
  width: 60%
  margin: 4em auto

  +media-query(930)
    padding-top: 5em
    width: 90%

.team
  margin: 4em 0

.team__name
  color: $brown
  
.team__member
  margin: 1em 0

.team__member__name
  font-weight: 600

.team__member__role
  font-size: .9em
  font-style: italic