.screen-reader-text
  position: fixed

  text-indent: -9999999px

.searchform
  position: fixed
  right: 2%
  top: 0
  z-index: 1000

  line-height: 55px

  transition: width $duration, height $duration

.searchform__input
  padding: .1em 0

  vertical-align: middle
  font-size: 1em

  background-color: transparent
  transition: border-color $duration

.searchform__label
  position: fixed
  width: 0
  height: 0

  text-indent: -999999px

.searchform__submit
  width: 30px
  height: 40px
  display: inline-block
  position: relative
  top: 2px

  font-size: 1em
  vertical-align: middle

  border: none
  background-color: transparent

  svg
    max-width: 100%

  &:hover
    cursor: pointer

.searchform__close
  position: absolute
  top: 1em
  right: 2em

  display: none

  font-size: 2em
  color: $lightGrey
  
.searchQuery
  color: $brown

.searchform__error
  display: block
  clear: both

  font-size: 1.5em
  font-style: italic
  color: $red

.result__type
  font-size: 2em
  font-weight: 700

.result__mail, .result__membre
  width: 28%
  display: inline-block
  
  &:not(:last-child)
    border-right: 1px dashed $lightGrey
    margin-right: 2em