.address
    @include container()
    margin: 5em 0

    +media-query(930)
      margin: 2em 0

.address__service-name
    margin-bottom: .5em

    font-weight: 700
    font-size: .8em
    text-decoration: underline

.address__emails__item
    margin: 0 0 .9em

.address__block
    margin-bottom: 2em

    p
        margin-bottom: .5em

.horaires
    margin-top: 1em
    width: 80%

    font-size: .8em

.address__map
    @include span(6)
    height: 300px

    +media-query(930)
      @include span(12)
      margin-bottom: 1em

.address__coords, .address__emails
    @include span(3)

    +media-query(930)
      @include span(12)
      
.address__coords
    +media-query(930)
      @include span(12)

.address2__coords
    @include span(6)

    +media-query(930)
      @include span(12)

.address__title
    margin-bottom: 1em

    font-weight: 700
    font-size: 1.2em
    text-transform: uppercase
