.screen-reader-text
  position: fixed

  text-indent: -9999999px

.searchform
  position: fixed
  right: 2%
  top: 0
  z-index: 1500

  line-height: 55px

  transition: width $duration, height $duration

.searchform__input
  padding: .1em

  vertical-align: middle
  font-size: 1em

  background-color: transparent
  transition: border-color $duration
  border: 1px solid $lightGrey
  border-radius: 0

.searchform__label
  position: fixed
  width: 0
  height: 0

  text-indent: -999999px

.searchform__submit
  display: inline-block
  position: relative
  padding: 0

  vertical-align: middle

  border: none
  background-color: transparent

  &:hover
    cursor: pointer

.searchform__submit__svg
  width: 15px
  height: 15px

.searchform__close
  position: absolute
  top: 1em
  right: 2em

  display: none

  font-size: 2em
  color: $lightGrey
  
.searchQuery
  color: $brown

.searchform__error
  display: block
  clear: both

  font-size: 1.5em
  font-style: italic
  color: $red

.result__type
  font-size: 2em
  font-weight: 700

.result__mail, .result__membre
  width: 28%
  display: inline-block
  
  &:not(:last-child)
    border-right: 1px dashed $lightGrey
    margin-right: 2em